.giftContainer {
    background-color: var(--bg-color);
}

.centerContainer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem 1rem;
    flex-wrap: wrap;
    height: 100vh;
    align-items: center;
}

.centerContainer:last-of-type {
    margin-top: auto;
}

/* TODO */