.rsvpContainer {
    background-color: var(--accent-color);
    font-family: var(--font-mono);
}

.titleWrapper {
    height: 70vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: 10rem;
    width: 100%;
    background-image: url("../assets/SlideTwo.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}

.titleWrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.titleWrapper > * {
    position: relative;
    z-index: 1;
    color: var(--primary-color);
    text-shadow: 2px 2px 6px var(--bg-color);
}

.formContainer {
    background: var(--transparent-bg);
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.subText {
    font-size: 1.2rem;
    color: var(--primary-color);
    text-align: center;
}

.btnClass {
    color: var(--primary-color);
    font-size: 2rem;
    text-shadow: 2px 2px 4px var(--bg-color);
    margin-top: 1rem;
}

.btnClass:hover > span {
    color: var(--hover-color);
    background-color: transparent;
}


@media only screen and (max-width: 580px) {
    .titleWrapper {
        font-size: 2.2rem;
        padding: 2rem 1rem;
    }

    .subText {
        font-size: 1rem;
    }

    .btnClass {
        font-size: 1.5rem;
        width: 8rem;
    }
}