.rsvpContainer {
    background-color: var(--accent-color);
    font-family: var(--font-mono);
}

.titleWrapper {
    height: 80vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 3rem;
    min-width: 10rem;
    margin: 1rem 1rem;
    width: 100%;
    border-radius: 2rem;
    background-image: url("../assets/slideTwo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding: 3rem 1rem;
}

.titleWrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 1.75rem;
    z-index: 0;
}

.titleWrapper > * {
    position: relative;
    z-index: 1;
    color: var(--primary-color);
    text-shadow: 2px 2px 6px var(--bg-color);
}

.subText {
    font-size: 1.2rem;
    color: var(--primary-color);
    text-align: center;
    margin-top: auto;
}

.btnClass {
    color: var(--primary-color);
    font-size: 2rem;
    text-shadow: 2px 2px 4px var(--bg-color);
    margin: 1rem auto 0;
    
}

.btnClass:hover > span {
    color: var(--hover-color);
    background-color: transparent;
}


@media only screen and (max-width: 580px) {
    .titleWrapper {
        font-size: 2.2rem;
        padding: 2rem 1rem;
        border-radius: 1rem;
        margin: 1rem auto;
    }

    .titleWrapper::before {
        border-radius: 0.75rem;
    }

    .subText {
        font-size: 1rem;
        margin-top: 18rem;
    }

    .btnClass {
        font-size: 1.5rem;
        width: 8rem;
        margin: 1rem auto 0;
    }
}