@font-face {
    font-family: 'Khatija Calligraphy';
    src: url('../assets/fonts/Khatija Calligraphy.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Baskervville SC';
    src: url('../assets/fonts/BaskervvilleSC-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}
