@font-face {
    font-family: 'Pinyon Script';
    src: url('../assets/fonts/PinyonScript-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* @font-face {
    font-family: 'Maellen Font';
    src: url('../assets/fonts/MaellenFont.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
} */