@import url('./fonts.css');
@import url('./variables.css');

body {
  margin: 0;
}

h1 {
  font-size: 3.5rem;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 3;
    margin: 20px 0;
  }
}

h2 {
  font-size: 2.5rem;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 2rem;
  }
}

p, span {
  margin: 0;
  font-family: var(--font-mono);
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-color);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--bg-color);
}
