.guestForm {
    background-color: var(--bg-color);
    padding: 1rem;
    border-radius: 1rem;
    min-width: 10rem;
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.formWrapper {
    margin-top: 1.5rem;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 768px) {
    .formWrapper {
        width: 100%;
    }

    .guestForm {
        justify-content: flex-start;
        gap: 0.5rem;
    }
}

