.trigger {
    padding: 0 200rem 0 0;
    font-size: 1.3rem;
    line-height: 1rem; 
    cursor: pointer;
    transition: color 0.3s;
}

.trigger:hover {
    color: #580410;
}

.siteLayoutBackground {
    background: #C4C5A0;
    padding-left: 1rem;
}

.countdown {
    position: absolute;
    right: 0;
    padding:0 1.5rem 1.2rem 0;
}

@media only screen and (max-width: 580px) {
    .trigger {
        display: none;
    }
  }