.navItems {
    background: #75763E;
}

.sider {
    background: #75763E;
    min-height: 100vh;
}

.navItems :global(.ant-menu-item),
.navItems :global(.ant-menu-item a) {
    color: #F1F0EA !important;
}

.navItems :global(.ant-menu-item-icon) {
    color: #F1F0EA !important;
}

.logo {
    color: #F1F0EA;
    height: 32px;
    margin: 16px;
    font-family: 'Mea Culpa', cursive; 
    font-size: 1.2rem;
    line-height: 2rem;
}